# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Python
venv/
*.egg-info/
dist/
build/
.eggs/

# Gunicorn
gunicorn.log

# Render deploy
.render-build/